.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #021d50;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
h6 {
  color: rgba(209, 209, 209, 0.693);
}
p {
  color: hsl(251, 17%, 88%);
  padding: 13vh;
  background-color: hsla(210, 40%, 40%, 0.4);
}
button {
  padding: 5vh;
  background-color: hsl(53, 88%, 47%);
  border-radius: 50%;
  border:2px solid #b56414;
  text-transform: uppercase;
  margin-bottom: 1vh;
}
.testInputForm{
  margin-bottom: 10px;
}
.submitButton{
  color: #93290f;
  background-color: rgb(255, 255, 255);
  border: 5px dashed black;
}
.InRowDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.App-link {
  color: #61dafb;
}

.primary {
  color: rgb(226, 207, 41);

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
